@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Fira Sans', sans-serif;
}

::-moz-selection {
  background-color: #ff5e00;
}

::selection {
  background-color: #ff5e00;
}

header {
  height: 12vh;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  background-color: #000000;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .hangmansImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 81vh;
  width: 40%;
  background-image: url(./storage/etrier.svg);
  background-repeat: no-repeat;
  background-position: center;
}

main .hangmansImage .image {
  position: relative;
  margin: 11vh 0 0 37%;
}

main .hangmansImage .image #head, main .hangmansImage .image #body, main .hangmansImage .image #lArm, main .hangmansImage .image #rArm, main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
  position: absolute;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

main .hangmansImage .image #head, main .hangmansImage .image #body {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .hangmansImage .image #head {
  top: -1.5vh;
  height: 17vh;
}

main .hangmansImage .image #body {
  top: 14vh;
  height: 25.5%;
}

main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
  top: 18vh;
  left: 50%;
  height: 5vh;
}

main .hangmansImage .image #lArm {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

main .hangmansImage .image #rArm {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
  top: 30.3vh;
  height: 9vh;
}

main .hangmansImage .image #lLegs {
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
}

main .hangmansImage .image #rLegs {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

main .hangmansImage .image .active {
  stroke-dashoffset: 0 !important;
  -webkit-transition-duration: 3.5s;
          transition-duration: 3.5s;
}

main .hangmansImage .word {
  width: 85%;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  cursor: default;
  bottom: 5vh;
  left: 11.1vw;
  padding-left: 15px 17px;
  letter-spacing: .7em;
  margin-right: .7em;
  font-size: 1.7rem;
  font-weight: bold;
}

main .hangmansImage .winning:hover:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

main .hangmansImage .red {
  color: #af2121;
}

main .hangmansImage .red:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #af2121;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

main .hangmansContent, main .hangmansOutput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .hangmansContent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

main .hangmansContent h2 {
  margin-top: 10vh;
  font-size: 3.5rem;
}

main .hangmansContent .hangmansOutput {
  padding: 7vh 0 7vh 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

main .hangmansContent .hangmansOutput .red {
  color: #af2121 !important;
  cursor: default !important;
}

main .hangmansContent .hangmansOutput .red:hover {
  color: #af2121 !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: #af2121 !important;
}

main .hangmansContent .hangmansOutput > * {
  padding: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 5.5%;
          flex: 0 5.5%;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

main .hangmansContent .hangmansOutput > *:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

main .hangmansContent .hangmansInput {
  height: 100%;
  width: 100%;
}

main .hangmansContent .hangmansInput .info {
  text-align: center;
  color: #575757;
}

main .hangmansContent .hangmansInput .win {
  color: #2dc277;
  font-size: 2rem;
}

main .hangmansContent .hangmansInput .restart {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .hangmansContent .hangmansInput .restart #reload {
  color: #ffffff;
  background-color: #575757;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 5px;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .hangmansContent .hangmansInput .restart #reload:hover {
  background-color: #000000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-size: 1.6rem;
  text-transform: uppercase;
}

footer a {
  line-height: 7vh;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

footer a:hover {
  color: #ff5e00;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.disable {
  opacity: 0.45 !important;
  cursor: default !important;
}

.disable:hover {
  color: #000000 !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: #000000 !important;
}

.lose {
  color: #af2121;
  font-size: 2rem;
}

.disableLink {
  pointer-events: none !important;
  cursor: pointer !important;
}

@media screen and (max-width: 1700px) {
  main .hangmansImage .image #head {
    top: 1.5vh;
  }
  main .hangmansImage .image #body {
    top: 17vh;
  }
  main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
    top: 21vh;
  }
  main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    top: 34vh;
  }
}

@media screen and (max-width: 1560px) {
  main .hangmansImage .image #head {
    top: 4vh;
  }
  main .hangmansImage .image #body {
    top: 19vh;
  }
  main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
    top: 23vh;
  }
  main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    top: 35.5vh;
  }
}

@media screen and (max-width: 1490px) {
  main .hangmansImage .image #head {
    top: 4vh;
  }
  main .hangmansImage .image #body {
    top: 19.5vh;
  }
  main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
    top: 23vh;
  }
  main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    top: 36vh;
  }
}

@media screen and (max-width: 1400px) {
  main .hangmansImage .image #head {
    top: 6vh;
  }
  main .hangmansImage .image #body {
    top: 21.5vh;
  }
  main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
    top: 25vh;
  }
  main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    top: 38vh;
  }
}

@media screen and (max-width: 1300px) {
  main .hangmansImage .image #head {
    top: 7vh;
  }
  main .hangmansImage .image #body {
    top: 22vh;
  }
  main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
    top: 26vh;
  }
  main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    top: 39vh;
  }
}

@media screen and (max-width: 1200px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .hangmansImage {
    height: 45vh;
    width: 100%;
  }
  main .hangmansImage .image #head, main .hangmansImage .image #body, main .hangmansImage .image #lArm, main .hangmansImage .image #rArm, main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    position: absolute;
  }
  main .hangmansImage .image #head {
    -webkit-transform: translateX(-322.5%);
            transform: translateX(-322.5%);
    top: -6vh;
    height: 9vh;
  }
  main .hangmansImage .image #body {
    top: 2.5vh;
    height: 25.5%;
    -webkit-transform: translateX(-1950%);
            transform: translateX(-1950%);
  }
  main .hangmansImage .image #lArm, main .hangmansImage .image #rArm {
    top: 4.5vh;
    right: 50%;
    height: 3vh;
  }
  main .hangmansImage .image #lArm {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  main .hangmansImage .image #rArm {
    -webkit-transform: translateX(-210%);
            transform: translateX(-210%);
  }
  main .hangmansImage .image #lLegs, main .hangmansImage .image #rLegs {
    top: 10.5vh;
    height: 5vh;
  }
  main .hangmansImage .image #lLegs {
    -webkit-transform: translateX(-415%);
            transform: translateX(-415%);
  }
  main .hangmansImage .image #rLegs {
    -webkit-transform: translateX(-325%);
            transform: translateX(-325%);
  }
  main .hangmansImage .word {
    width: 50%;
    text-align: start;
    text-transform: uppercase;
    bottom: 2vh;
    left: 43vw;
  }
  main .hangmansContent {
    width: 100%;
    margin: 0 auto;
  }
  main .hangmansContent .hangmansOutput {
    padding: 2vh 0;
    font-size: 1.4rem;
  }
  main .hangmansInput {
    height: 19.2vh !important;
  }
  main .hangmansInput .restart {
    margin: 1.5rem 0 !important;
  }
}

@media screen and (max-width: 925px) {
  main .hangmansImage {
    height: 40vh;
    width: 100%;
  }
  main .hangmansImage .image #head {
    -webkit-transform: translateX(-220%);
            transform: translateX(-220%);
  }
  main .hangmansImage .image #body {
    top: 2.5vh;
    height: 30%;
    -webkit-transform: translateX(-1230%);
            transform: translateX(-1230%);
  }
  main .hangmansImage .image #lArm {
    -webkit-transform: translateX(-225%);
            transform: translateX(-225%);
  }
  main .hangmansImage .image #rArm {
    -webkit-transform: translateX(-130%);
            transform: translateX(-130%);
  }
  main .hangmansImage .image #lLegs {
    -webkit-transform: translateX(-295%);
            transform: translateX(-295%);
  }
  main .hangmansImage .image #rLegs {
    -webkit-transform: translateX(-210%);
            transform: translateX(-210%);
  }
  main .hangmansImage .word {
    bottom: -1.5vh;
  }
  main .hangmansContent .hangmansOutput {
    padding: 1vh 0;
    font-size: 1.4rem;
  }
  main .hangmansInput {
    height: 19.8vh !important;
  }
}

@media screen and (max-width: 600px) {
  main .hangmansImage .image #head {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  main .hangmansImage .image #body {
    -webkit-transform: translateX(-750%);
            transform: translateX(-750%);
  }
  main .hangmansImage .image #lArm {
    -webkit-transform: translateX(-170%);
            transform: translateX(-170%);
  }
  main .hangmansImage .image #rArm {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  main .hangmansImage .image #lLegs {
    -webkit-transform: translateX(-215%);
            transform: translateX(-215%);
  }
  main .hangmansImage .image #rLegs {
    -webkit-transform: translateX(-125%);
            transform: translateX(-125%);
  }
  main .hangmansImage .word {
    letter-spacing: .6em;
    margin-right: .6em;
    font-size: 1.55rem;
  }
}

@media screen and (max-width: 450px) {
  main .hangmansImage .image #head {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  main .hangmansImage .image #body {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  main .hangmansImage .image #lArm {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  main .hangmansImage .image #rArm {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  main .hangmansImage .image #lLegs {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  main .hangmansImage .image #rLegs {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  main .hangmansImage .word {
    bottom: 0vh;
    left: 25vw !important;
    letter-spacing: .45em;
    margin-right: .45em;
    font-size: 1.15rem;
  }
}
/*# sourceMappingURL=style.css.map */